.profile{
    width: 100vw;
    min-width: 600px;
    text-align: center;
    background-image: url("./ProfileBackground.png");
    background-size: cover;
    overflow: hidden;
}
.profile-header{
    min-height: 50vh;
    width: 90vw;
    min-width: calc(0.9 * 600px);
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-flex;
    border-radius: 20px;
    overflow: hidden;
}
.avatar-table{
    min-height: 50vh;
    width: 30%;
    display: table;
}
.account-avatar{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: bisque;
}
.avatar-frame{
    height: calc(90vw * 0.3 * 0.6);
    min-height: calc(0.9 * 600px * 0.3 * 0.6);
    width: 60%;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    overflow: hidden;
}
.avatar-frame > img{
    height: 100%;
    width: 100%;
}
.account-short-details{
    min-height: 50vh;
    width: 70%;
    position: relative;
    background-color: antiquewhite;
    display: flex;
}
.account-short-details-edit{
    min-height: 50vh;
    width: 70%;
    position: relative;
    background-color: antiquewhite;
}
.edit-profile-btn{
    height: 40px;
    width: 40px;
    font-size: 14px;
    background-color:#e85f15;
    border-color: #e85f15;
    color: #fdebe2;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.edit-profile-btn:hover{
    background-color:#a6430e;
    border-color: #a6430e;
    color: #fdebe2;
}
.edit-profile-btn:active{
    box-shadow: 0 0 0 0.25rem #e85f15;
}
.edit-form{
    width: 90%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-form-duo{
    margin-top: 10px;
    display: flex;
}
.edit-form-right{
    width: 48%;
    margin-left: 2%;
}
.edit-form-left{
    width: 48%;
    margin-right: 2%;
}
.form-control:focus{
    border-color: white;
    box-shadow: 0 0 0 0.1rem #e85f15;
}
.btn-edit {
    background-color:#e85f15;
    border-color: #e85f15;
    color: #fdebe2;
}
.btn-edit:hover {
    background-color:#a6430e;
    border-color: #a6430e;
    color: #fdebe2;
}
.btn-edit:focus {
    box-shadow: 0 0 0 0.25rem #e85f15;
}
.details-section{
    width: 50%;
    display: table;
    text-align: start;
    vertical-align: middle;
}
.details-data{
    display: table-cell;
    vertical-align: middle;
}
.name-text{
    font-weight: 100;
    letter-spacing: 4px;
    margin: 0;
    margin-left: 5%;
}
.contact-text{
    font-weight: 100;
    letter-spacing: 2px;
    margin-left: 8%;
}
