.banner {
    width: 100vw;
    background-color: saddlebrown;
    filter: brightness(50%);

}

.bannerdiv {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-image: url('../images/lifting.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.innerdiv {
    display: inline-block;
}

h1 {
    /* position: absolute;
    top: 50vw;
    left: 50vw; */
    /* transform: translate(-50%, -300%); */
    color: white;
    font-size: 3vw;
}

.div {
    background-color: blue;
}

body {
    margin: 0;
    padding: 0;
}

button {
    /* position: absolute;
    top: 50vw;
    left: 50vw; */
    /* transform: translate(-50vw, -200vw); */
    color: blue;
}