.class-row-info {
    margin-left: 20px;
}

.class-row-info{
    justify-content: left;
    text-align: left;
}

.class-dates {
    display: flex;
}

.day-tab-active {
    color: orange;
    background-color: aqua;
}

.class-schedule {
    display: flex;
    border: #5d5d5d solid 1px;
    border-radius: 10px;
    min-width: 70%;
}

.class-table {
    height: 600px;
    overflow: scroll;
}

.class-search-control {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: #5d5d5d solid 1px;
}

.class-control-input {
    margin: 8px;
}

.class-control-datepicker{
    margin: 5px !important;
}

.time-range-picker {
    margin-top: 25px;
    margin-bottom: 8px;
}

.time-range-picker p{
    margin-bottom: 0px !important;
    font-weight: bold;
}

.time-range-display {
    display: flex;
    justify-content: space-between;
}

.class-row td {
    vertical-align: top;
    padding: 10px;
}

.class-row {
    border-top: #bfbfbe solid 1px;
    border-bottom: #bfbfbe solid 1px;
    /* display: flex;
    justify-content: space-between; */
}

.class-table table {
    border-collapse: collapse;
}

.button-td {
    vertical-align: middle;
}

.class-search-control {
    flex-grow: 1;
}
.class-schedule-list {
    flex-grow: 3;
}
