.class-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #9d9d9d solid;
}

.class-table {
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

.class-row-text {
    display: flex;
    justify-content: left;
}

.class-row-info{
    border: solid black 1px;
    margin-left: 100px;
    margin-right: 20px;
    justify-content: left;
    text-align: left;
}

.class-dates {
    display: flex;
}

.day-tab-active {
    color: orange;
    background-color: aqua;
}