.outer-div5 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.50)), url('../Home/strongman.jpeg');
    width: 100vw;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px 100px 30px
}

.inner-div5 {
    display: block;
    background-color: #f5f5f5;
    width: 450px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.subscription-types {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.subscription-type {
    background-color: #e85f15;
    color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
}


.btn-sub {
    background-color:#e85f15 !important;
    border-color: #e85f15 !important;
    color: #fdebe2 !important;
    width: 100%;
}

.btn-sub:hover {
    background-color:#a6430e !important;
    border-color: #a6430e !important;
    color: #fdebe2 !important;
}

.btn-sub:active {
    background-color:#a6430e !important;
    border-color: #a6430e !important;
    color: #fdebe2 !important
}

.alert-changed-sub {
    background-color: white;
    width:450px;
    background-color: #f5f5f5;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


