.summary-card {
    border: 1px black solid;
    display: inline-block;
    padding: 5px 10px;
    width:400px;
}

.active{
    background-color: #eaeaea;
}

.summary-subtitle {
    margin: 2px;
    margin-top: 4px;
    color: #656565;
}

.summary-button {
    margin: 5px !important;
}

.summary-title {
    margin: 2px !important;
}