.studio-search-flex-box {
    display: flex;
    flex-direction: row;
    border: 5px green solid;
    flex-grow: 1;
}

.studio-search-flex-item {
    border: 5px orange solid
}

.studio-list {
    flex: 6
}

.studio-map {
    flex: 2
}