.outer-div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.50)), url('strongman.jpeg');
    width: 100vw;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;

}

.inner-div {
    display: inline-block;
}

.home-title {
    color: white;
    font-size: 3vw;
}

.btn-home {
    background-color:#e85f15 !important;
    border-color: #e85f15 !important;
    color: #fdebe2 !important;
}

.btn-home:hover {
    background-color:#a6430e !important;
    border-color: #a6430e !important;
    color: #fdebe2 !important;
}

.btn-home:active {
    background-color:#a6430e !important;
    border-color: #a6430e !important;
    color: #fdebe2 !important
}
